.testimonial {
    background-color: $verde;
    padding: 2rem;
    border-radius: 2rem;
    color: $blanco;
    font-size: 2.4rem;
    

    blockquote {
        padding-left: 5rem;
        position: relative;
        font-weight: $delgada;

        &::before {
            content: '';
            background-image: url('../img/comilla.svg');
            width: 6rem;
            height: 8rem;
            display: block;
            background-repeat: no-repeat;
            position: absolute;
            left: -2rem;
            top: -1rem;
        }
    }

    p {
        color: $blanco;
        text-align: right;
    }
}